<% include partials/header %>
<div class="box-containers combo">
    <div>
        <p>2 Medium Pizza <br>with any 2 toppings</p>
        <p>$18.95</p>
    </div>
    <div>
        <p>2 Medium Pizza <br>with any 3 toppings</p>
        <p>$19.95</p>
    </div>
    <div>
        <p>2 Medium Pizza <br>with any 5 toppings</p>
    </div>
    <div>
        <p>3 Medium Pizza <br>with any 2 toppings</p>
    </div>
    <div>
        <p>2 Large Pizza <br>with any 2 toppings</p>
        <p>$24.95</p>
    </div>
    <div>
        <p>2 Large Pizza <br>with any 5 toppings</p>
    </div>
    <div>
        <p>2 Large Hollywood Special Pizza</p>
    </div>
    <div>
        <p>3 Large Pizza <br>with any 2 toppings</p>
    </div>
    <div>
        <p>4 Large Pizza <br>with any 2 toppings</p>
    </div>
    <div>
        <p>2 X-Large Pizza <br>with any 2 toppings</p>
    </div>
    <div>
        <p>2 Baked Lasagne or Spaghetti</p>
        <p>with meat sauce and garlic toast</p>
    </div>
    <div>
        <p>3 Baked Lasagne or Spaghetti</p>
        <p>with meat sauce and garlic toast</p>
    </div>
    <div>
        <p>4 Baked Lasagne or Spaghetti</p>
        <p>with meat sauce and garlic toast</p>
    </div>
    <div>
        <p>5 Super Donairs with cheese</p>
    </div>
</div>
<div class="box-containers">
    <div>
        <p>Combo Special 1</p>
        <ul>
            <li>2 Large Pizza (2 Toppings)</li>
            <li>2 lasagne or spaghetti</li>
            <li>1 large caesar salad</li>
            <li>2L pop</li>
        </ul>
        <p>$38.95</p>
    </div>
    <div>
        <p>Combo Special 2</p>
        <ul>
            <li>3 Medium Pizza (2 Toppings)</li>
            <li>10 wings</li>
            <li>1 large caesar salad</li>
            <li>2L pop</li>
        </ul>
    <p>$34.95</p>
</div>
<div>
    <p>Combo Special 3</p>
    <ul>
        <li>1 Large Pizza (2 Toppings)</li>
        <li>1 lasagne</li>
        <li>10 wings</li>
        <li>1 large caesar salad</li>
        <li>2L pop</li>
    </ul>
</div>
<div>
    <p>Combo Special 4</p>
    <ul>
        <li>1 Medium Pizza (2 Toppings)</li>
        <li>1 lasagne or spaghetti</li>
        <li>1 large caesar salad</li>
        <li>2 cans of pop</li>
    </ul>
    <p>$23.95</p>
</div>
<div>
    <p>Combo Special 5</p>
    <ul>
        <li>2 super donairs with cheese</li>
        <li>10 wings</li>
        <li>2 cans of pop</li>
    </ul>
    <p>$22.95</p>
</div>
</div>

<% include partials/footer %>