<% include partials/header %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-4">
      <div class="donair">
        <h2>DONAIRS</h2>
        <h6>Served with lettuces, tomatoes, onions, and sweet sauce</h6>
        <h4>REGUALR DONAIR NO CHEESE<span class="price">6.50</span></h4>
        <h4>REGUALR DONAIR <span class="price">7</span></h4>
        <h4>SUPER DONAIR <span class="price">7.50</span></h4>
        <h4>JUMBO DONAIR <span class="price">9</span></h4>
      </div>
      <div class="">
        <h2>12" SUBMARINES</h2>
        <h4>HOLLYWOOD SUBMARINE <span class="price">7</span></h4>
        <h6>Ham, Pepperoni, Salami, Green peppers, Onions, Cheese, Tomatoe sauce</h6>
        <h4>MEATBALL SUBMARINE <span class="price">8</span></h4>
        <h6>Meatballs, Green peppers, Onions, Cheese, Meat sauce</h6>
        <h4>PEPPERONI & CHEESE SUBMARINE <span class="price">7</span></h4>
        <h4>HAM & CHEESE SUBMARINE <span class="price">7</span></h4>
        <h4>DONAIR SUBMARINE <span class="price">8</span></h4>
        <h6>Donair meat, Onions, Tomatoes, Cheese, Sweet sauce</h6>
        <h4>VEGGIE SUBMARINE <span class="price">8</span></h4>
        <h6>Mushrooms, Green peppers, Onions, Pinapple, Black olives, Cheese, Tomatoe sauce</h6>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>