<% include partials/header %>
  <div class="donair">
    <div class="donair__content">
      <h2 class="donair__title">DONAIRS</h2>
      <h6 class="donair__description">Served with lettuces, tomatoes, onions, and sweet sauce</h6>
      <h4>REGUALR DONAIR NO CHEESE <span class="donair__price">6.50</span></h4>
      <h4>REGUALR DONAIR <span class="donair__price">7</span></h4>
      <h4>SUPER DONAIR <span class="donair__price">7.50</span></h4>
      <h4>JUMBO DONAIR <span class="donair__price">9</span></h4>
      <h5>Extra meat <span class="donair__price">1.50</span></h4>
      <h5>Extra cheese <span class="donair__price">1.50</span></h4>
      <h5>Extra sauce <span class="donair__price">1.00</span></h4>

      <h2 class="donair__title">PASTAS</h2>
      <h6 class="donair__description">All served with meat sauce and garlic toast</h6>
      <h4>BAKED LASAGNA OR SPAGHETTI <span class="donair__price">7.95</span></h4>
      <h4>BAKED LASAGNA OR SPAGHETTI (WITH MEATBALLS OR DONAIR MEAT) <span class="donair__price">8.95</span></h4>
      <h5>Extra meat sauce <span class="donair__price">1.50</span></h4>
      <h5>Extra meatballs <span class="donair__price">2</span></h4>
      <h5>Extra cheese <span class="donair__price">2</span></h4>
    
      <h2 class="donair__title">12" SUBMARINES</h2>
      <h4>HOLLYWOOD SUBMARINE <span class="donair__price">7</span></h4>
      <h6 class="donair__info">Ham, Pepperoni, Salami, Green peppers, Onions, Cheese, Tomatoe sauce</h6>
      <h4>MEATBALL SUBMARINE <span class="donair__price">8</span></h4>
      <h6>Meatballs, Green peppers, Onions, Cheese, Meat sauce</h6>
      <h4>PEPPERONI & CHEESE SUBMARINE <span class="donair__price">7</span></h4>
      <h4>HAM & CHEESE SUBMARINE <span class="donair__price">7</span></h4>
      <h4>DONAIR SUBMARINE <span class="donair__price">8</span></h4>
      <h6>Donair meat, Onions, Tomatoes, Cheese, Sweet sauce</h6>
      <h4>VEGGIE SUBMARINE <span class="donair__price">8</span></h4>
      <h6>Mushrooms, Green peppers, Onions, Pinapple, Black olives, Cheese, Tomatoe sauce</h6>

      <h2 class="donair__title">FRIED CHICKEN</h2>
      <h4>3 PIECE CHICKEN <span class="donair__price">9</span></h4>
      <h4>6 PIECE CHICKEN <span class="donair__price">16.95</span></h4>
      <h4>9 PIECE CHICKEN <span class="donair__price">23.95</span></h4>
      <h4>CHICKEN FINGERS <span class="donair__price">9</span></h4>
      <h4>CHICKEN NUGGETS <span class="donair__price">9</span></h4>

      <h2 class="donair__title">WINGS</h2>
      <h6 class="donair__description">Choice of BBQ, honey garlic, salt & pepper, hot, or teriyaki</h6>
      <h4>1O WINGS <span class="donair__price">8.50</span></h4>
      <h4>20 WINGS <span class="donair__price">15.75</span></h4>
      <h4>50 WNGSS <span class="donair__price">36.75</span></h4>

      <h2 class="donair__title">SIDES</h2>
      <h4>FRENCH FRIES <span class="donair__price">6.50</span></h4>
      <h4>POUTINE <span class="donair__price">10</span></h4>
      <h4>DONAIR POUTINE <span class="donair__price">11.50</span></h4>
      <h4>ONION RINGS <span class="donair__price">6.50</span></h4>
      <h4>ZUCHNNI FINGERS <span class="donair__price">6.50</span></h4>
      <h4>GARLIC TOAST <span class="donair__price">1</span></h4>

      <h2 class="donair__title">SALADS</h2>
      <h4>TOSSED SALAD <span class="donair__price">5</span></h4>
      <h6>Iceberg lettuce, onions, green peppers</h6>
      <h4>CAESAR SALAD <span class="donair__price">7</span></h4>
      <h6>Romaine lettuce, bacon bits, croutons, parmasean & a side of garlic toast</h6>
      <h4>GREEK SALAD <span class="donair__price">8</span></h4>
      <h6>Romaine lettuce, onions, green peppers, tomatoes, black olives, feta cheese & a side of garlic toast</h6>
    </div>
    
  </div>

<% include partials/footer %>