<% include partials/header %>

<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Hollywood Pizza</span>
      <span class="heading-primary--middle">&</span>
      <span class="heading-primary--sub">Donair</span>
    </h1>
  </div>    
</header>


<div class="frontpg">
  <div id="contact">
      <div class="float-left description">
          <p><a href="https://www.google.com/maps/dir/?api=1&destination=Hollywood+Pizza+and+Donair&destination_place_id=ChIJgwwi1AghoFMRFLLwRq32F5k" target="_blank">10012 156 ST <br>Edmonton, AB</a></p>
      </div>
      <div class="float-right phone">
          <a href="tel:+1-780-489-4735"><span class="glyphicon glyphicon-earphone"></span>780-489-4735<br></a>
          <a href="tel:+1-780-484-2698"><span class="glyphicon glyphicon-earphone"></span>780-484-2698</a> 
      </div>
  </div>
  <div id="mobile-contact">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-6">
                  <div class="float-left description">
                      <div>
                          <a href="https://www.google.com/maps/dir/?api=1&destination=Hollywood+Pizza+and+Donair&destination_place_id=ChIJgwwi1AghoFMRFLLwRq32F5k" target="_blank">Location</a> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                  <div class="float-right phone">
                      <div>
                          <a href="/contact">Contact</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<% include partials/footer %>