<% include partials/header %>

<section class="frontpg">
    <div id="title">
        <h1>Hollywood Pizza and Donair</h1>
    </div>
    <div class="float-left" id="description">
        <p><a href="https://www.google.com/maps/dir/?api=1&destination=Hollywood+Pizza+and+Donair&destination_place_id=ChIJgwwi1AghoFMRFLLwRq32F5k" target="_blank">10012 156 ST <br>Edmonton, AB</a></p>
    </div>
    <div class="float-right" id="phone">
        <a href="tel:+1-780-489-4735"><span class="glyphicon glyphicon-earphone"></span>780-489-4735</a>
        <a href="tel:+1-780-484-2698"><span class="glyphicon glyphicon-earphone"></span>780-484-2698</a> 
    </div>
</section>

<% include partials/footer %>