<% include partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <table class="table-borderless table-sm">
                <tr>
                    <th scope="col">Toppings</th>
                    <th scope="col">Medium 10"</th>
                    <th scope="col">Large 12"</th>
                    <th scope="col">X-Large 14"</th>
                </tr>    
                <tr>
                    <td>
                        <ul>
                            <li>Italian Sausage</li>
                            <li>Cheese</li>
                            <li>Bacon</li>
                            <li>Mushroom</li>
                            <li>Pepperoni</li>
                            <li>Salami</li>
                            <li>Beef</li>
                            <li>Shrimp</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>$10.00</li>
                            <!-- <li>$10.00</li>
                            <li>$10.00</li>
                            <li>$10.00</li>
                            <li>$10.00</li>
                            <li>$10.00</li>
                            <li>$10.00</li>
                            <li>$10.00</li> -->
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>$14.50</li>
                            <!-- <li>$14.50</li>
                            <li>$14.50</li>
                            <li>$14.50</li>
                            <li>$14.50</li>
                            <li>$14.50</li>
                            <li>$14.50</li>
                            <li>$14.50</li> -->
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>$17.75</li>
                            <!-- <li>$17.75</li>
                            <li>$17.75</li>
                            <li>$17.75</li>
                            <li>$17.75</li>
                            <li>$17.75</li>
                            <li>$17.75</li>
                            <li>$17.75</li> -->
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Beef & Onion</li>
                            <li>Beef & Mushroom</li>
                            <li>Pepperoni & Bacon</li>
                            <li>Ham & Pineapple</li>
                            <li>Bacon & Mushroom</li>
                            <li>Ham & Green Pepper</li>
                            <li>Shrimp & Mushroom</li>
                            <li>Bacon & Fresh Tomatoes</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>$11.95</li>
                            <li>$11.95</li>
                            <li>$11.95</li>
                            <li>$11.95</li>
                            <li>$11.95</li>
                            <li>$11.95</li>
                            <li>$11.95</li>
                            <li>$11.95</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>$15.50</li>
                            <li>$15.50</li>
                            <li>$15.50</li>
                            <li>$15.50</li>
                            <li>$15.50</li>
                            <li>$15.50</li>
                            <li>$15.50</li>
                            <li>$15.50</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>$18.25</li>
                            <li>$18.25</li>
                            <li>$18.25</li>
                            <li>$18.25</li>
                            <li>$18.25</li>
                            <li>$18.25</li>
                            <li>$18.25</li>
                            <li>$18.25</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Pepperoni, mushroom, salami</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table id="pizza-table">
                <h6 class="text-center">Extra Toppings</h6>
                <tr>
                    <th scope="col">Medium 10"</th>
                    <th scope="col">Large 12"</th>
                    <th scope="col">X-Large 14"</th>
                </tr>
                <tr>
                    <td>$2.00</td>
                    <td>$2.25</td>
                    <td>$3.00</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table-borderless table-sm">
                <tr>
                    <th>Specialty Pizza</th>
                    <th>Medium 10"</th>
                    <th>Large 12"</th>
                    <th>X-Large 14"</th>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Donair Pizza</dt>
                            <dd>Donair meat, mushroom, onion, & fresh tomatoes</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$17.75</td>
                    <td>$22.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Vegetarian Special</dt>
                            <dd>Mushroom, onion, green pepper, pineapple, black olives, & fresh tomatoes</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$18.95</td>
                    <td>$22.45</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Hollywood Seafood</dt>
                            <dd>Shrimp, scallops, & crab meat</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$17.75</td>
                    <td>$22.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Hollywood Special</dt>
                            <dd>Mushroom, pepperoni, salami, ham, onion, green pepper, pineapple, black olives, & bacon</dd>
                        </dl>
                    </td>
                    <td>$13.95</td>
                    <td>$19.95</td>
                    <td>$$25.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Hollywood Greek Pizza</dt>
                            <dd>Beef, mushroom, onion, green pepper, black olives, & feta cheese</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$18.75</td>
                    <td>$23.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Meat Lover Pizza</dt>
                            <dd>Beef, pepperoni, salami, ham, & bacon</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$18.75</td>
                    <td>$23.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Hawaiian Chicken</dt>
                            <dd>Ham, pinapple, & chicken</dd>
                        </dl>
                    </td>
                    <td>$12.95</td>
                    <td>$17.25</td>
                    <td>$19.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Chicken Deluxe</dt>
                            <dd>Chicken, mushroom, green pepper, onion</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$18.75</td>
                    <td>$20.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Mexican Fiesta</dt>
                            <dd>Beef, green pepper, onion, japeleno, fresh tomoatoes (served with a side of sour cream)</dd>
                        </dl>
                    </td>
                    <td>$13.45</td>
                    <td>$18.75</td>
                    <td>$22.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Canadian Pizza</dt>
                            <dd>Pepperoni, mushroom, salami, & bacon</dd>
                        </dl>
                    </td>
                    <td>$12.95</td>
                    <td>$16.25</td>
                    <td>$18.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Spinach Pizza</dt>
                            <dd>Spinach, mushroom, onion, & feta cheese</dd>
                        </dl>
                    </td>
                    <td>$12.95</td>
                    <td>$16.25</td>
                    <td>$18.95</td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Tuna Fiesta</dt>
                            <dd>Tuna, bacon, onion, green pepper, & special sauce</dd>
                        </dl>
                    </td>
                    <td>$12.95</td>
                    <td>$16.25</td>
                    <td>$18.95</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<% include partials/footer %>