<% include partials/header %>
    <div class="sides container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <div class="menu-block">
                    <div>
                        <h2>Wings</h2>
                        <p>Hot, Honey Garlic, Salt & Pepper, or BBQ</p>
                        <ul>
                            <li>10 wings</li>
                            <li>20 wings</li>
                            <li>50 wings</li>
                        </ul>
                    </div>
                    <div>
                        <h2>Sides</h1>
                        <h2>French Fries<span> 6.50</span></h2>
                        <h2>Onion Rings<span> 6.50</span></h2>
                        <h2>Zuchnni Fingers<span> 6.00</span></h2>
                        <h2>Chicken Nuggets<span> 9.00</span></h2>
                        <h2>Chicken Fingers<span> 9.00</span></h2>
                        <h2>Poutine<span> 10.00</span></h2>
                        <p>Mozzarella cheese & gravy</p>
                        <h2>Donair Poutine<span> 11.50</span></h2>
                        <p>Mozzarella cheese, donair meat & gravy</p>
                    </div>
                    <div class="wrapper">
                        <h1>Salads</h1>
                        <ul>
                            <li>Caesar Salad</li>
                            <li>Greek Salad</li>
                            <li>Toss Salad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>